alabaster==0.7.12
altair==4.1.0
appnope==0.1.2
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
base58==2.1.0
bleach==3.3.1
blinker==1.4
boto3==1.18.1
botocore==1.21.1
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==7.1.2
coverage==5.5
coveralls==3.1.0
cycler==0.10.0
Cython==0.29.24
debugpy==1.3.0
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.12
docopt==0.6.2
docutils==0.16
entrypoints==0.3
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
hopcroftkarp==1.2.5
idna==3.2
imagesize==1.2.0
importlib-metadata==3.10.1
iniconfig==1.1.1
ipykernel==6.0.2
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver @ file:///opt/concourse/worker/volumes/live/1e6d28e8-da14-4365-7344-567a05db7efc/volume/kiwisolver_1612282399491/work
kornia==0.4.1
MarkupSafe==2.0.1
matplotlib @ file:///opt/concourse/worker/volumes/live/41e8cd50-031f-4dda-5787-dd3c4f4e0f08/volume/matplotlib-suite_1613407855571/work
matplotlib-inline==0.1.2
mistune==2.0.3
mkl-fft==1.3.0
mkl-random @ file:///opt/concourse/worker/volumes/live/133f1d0b-8fd8-4fa0-679e-7214401cbd75/volume/mkl_random_1626186083386/work
mkl-service==2.4.0
mpmath==1.2.1
nb2plots==0.6
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.1
numpy @ file:///opt/concourse/worker/volumes/live/660b80d1-747e-493a-6b34-55d0a0e21650/volume/numpy_and_numpy_base_1626271790683/work
olefile==0.46
opencv-python==4.5.3.56
packaging==21.0
pandas==1.3.0
pandocfilters==1.4.3
parso==0.8.2
persim==0.3.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///opt/concourse/worker/volumes/live/58ac8b05-9c32-444c-5460-921d3b599939/volume/pillow_1625655835023/work
pluggy==0.13.1
powerlaw==1.4.6
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
py==1.10.0
pyarrow==4.0.1
pycparser==2.20
pydeck==0.6.2
Pygments==2.9.0
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent==0.18.0
pytest==6.2.4
pytest-mock==3.6.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytorchcv==0.0.65
pytz==2021.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
requests==2.26.0
ripser==0.6.0
s3transfer==0.5.0
scikit-learn==0.24.2
scipy==1.7.0
Send2Trash==1.7.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
smmap==4.0.0
snowballstemmer==2.1.0
Sphinx==4.1.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxtesters==0.2.3
streamlit==0.84.1
terminado==0.10.1
testpath==0.5.0
texext==0.6.6
threadpoolctl==2.2.0
toml==0.10.2
toolz==0.11.1
torch==1.9.0
torch-lucent==0.1.8
torchvision==0.10.0
tornado @ file:///opt/concourse/worker/volumes/live/d531d395-893c-4ca1-6a5f-717b318eb08c/volume/tornado_1606942307627/work
tqdm==4.61.2
traitlets==5.0.5
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.6
validators==0.18.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.5.0
